<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.AdminUserMapper">
<!--    配置表结构和实体类的对应关系-->
    <resultMap id="BaseResultMap" type="ltd.newbee.mall.entity.AdminUser">
        <id column="admin_user_id" jdbcType="INTEGER" property="adminUserId"></id>
        <result column="login_user_name" jdbcType="VARCHAR" property="loginUserName"></result>
        <result column="login_password" jdbcType="VARCHAR" property="loginPassword"></result>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"></result>
        <result column="locked" jdbcType="TINYINT" property="locked"></result>
    </resultMap>
    <sql id="Base_Column_List">
        admin_user_id,login_user_name,login_password,nick_name,locked
    </sql>
<!--    登录-->
    <select id="login" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from tb_newbee_mall_admin_user
        where login_user_name=#{userName,jdbcType=VARCHAR} and login_password=#{password,jdbcType=VARCHAR} and locked=0
    </select>

    <select id="selectByPrimaryKey" parameterType="Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from tb_newbee_mall_admin_user
        where admin_user_id=#{adminUserId,jdbcType=INTEGER}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="ltd.newbee.mall.entity.AdminUser">
        update tb_newbee_mall_admin_user
        <set>
            <if test="loginUserName!=null">
                login_user_name =#{loginUserName,jdbcType=VARCHAR},
            </if>
            <if test="loginPassword!=null">
                login_password=#{loginPassword,jdbcType=VARCHAR},
            </if>
            <if test="nickName!=null">
                nick_name=#{nickName,jdbcType=VARCHAR},
            </if>
            <if test="locked!=null">
                locked=#{locked,jdbcType=TINYINT},
            </if>
        </set>
        where admin_user_id=#{adminUserId,jdbcType=INTEGER}
    </update>
</mapper>